<p id="notice"><%= notice %></p>

<p>
  <b>Health:</b>
  <%= @patient.health_id %>
</p>

<p>
  <b>First name:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @patient.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @patient.gender %>
</p>

<p>
  <b>Phone:</b>
  <%= @patient.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', root_path %>
