<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient.proper_name %>
</p>

<p>
  <b>Doctor:</b>
  <%= @appointment.doctor.proper_name %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Time slot:</b>
  <%= @appointment.time_slot %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
