<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NAO Clinic</title>
<!-- <link href="style.css" rel="stylesheet" type="text/css" /> --> 
<%= stylesheet_link_tag 'application', :media => 'screen' %>

</head>

<body>
<div class="container">
  <header>
  <ul>
  <nav class = "round">
<%= link_to "Home |", '/home' %>
  <%= link_to "Contact |" , '/contact' %>
  <%= link_to "About Us |" , '/about' %>
    <%= link_to "Privacy Policies" , '/privacy' %>

  </ul>
  <ul class="free">
    <a class="call"> Free Number 44-675-674</a>
  </ul>
    <%= image_tag("header_pic.gif", :alt => "NAO", :class => "round") %>
   </nav>
</div>
</header>
<section class= "round">
  <tr>
    <td>
      <% if current_patient %>
        <ul> 
          <button type="button"> <%= link_to "Schedule your meeting", '/appointments/new' %></button>
          <button type="button"> <%= link_to "Log out", '/logout' %></button>     
        </ul>    
      <% else %>
        <ul>
          <button type="button"><%= link_to "Sign Up", '/signup' %></button>
          <button type="button"> <%= link_to "Log in", '/login' %></button>
        </ul>
      <% end %>
    </td>
    <td><%= yield %></td>
  </tr>

</section>

<div class="footer"><!--footer navigation start -->

  <design>
    <p> &copy; NAO. all rights reserved</p>
    <p class="de">Designed by: Nourhen, Talal, and Srinjoy</a></p>
  </design>

</div><!--footer navigation end -->
</html>
