<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NAO Clinic</title>
<!-- <link href="style.css" rel="stylesheet" type="text/css" /> --> 
<%= stylesheet_link_tag 'application', :media => 'screen' %>

</head>

<body>
<div class="container">
  <header>
  <ul>
  <nav class = "round">
<%= link_to "Home", '\home' %>
  <%= link_to "Contact" , '\contact' %>
  <%= link_to "About Us" , '\about' %>
  </ul>
  <ul class="free">
    <a class="call"> Free Number 44-675-674</a>
  </ul>
    <%= image_tag("header_pic.gif", :alt => "NAO", :class => "round") %>
   </nav>
</div>
</header>
<section class= "round">
<%=  yield %>
</section>

<div class="footer"><!--footer navigation start -->
<ul>
<li><button type="button"><%= link_to "Sign Up", '#' %></button></li>
<li><button type="button"> <%= link_to "Sign In", '#' %></button></li>
<li><button type="button"> <%= link_to "Privacy policies", '#' %></button></li>
<li><a href="#"> Schedule your meeting</a></li>
</ul>

<p>&copy; NAO. all rights reserved</p>
<p class="de">Designed by: Nourhen, Talal, and Srinjoy</a></p>
</div><!--footer navigation end -->
</html>
